/* index.css */
:root {
  --main-bg-color: rgb(250, 250, 250);
  --main-text-color: #3b2e4d;
  --old-text-color: #4c1d95;
  --main-highlight-color: #ebe8ef;
  --old-highlight-color: #e1dae8;
  height: 100%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f6f4fc;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
}

/* PDF Reader CSS */
/* Override link annotation style */
.react-pdf__LinkAnnotation {
  border-bottom: 1px dashed #007bff; /* custom link underline */
  color: #007bff;
  text-decoration: none;
}

.react-pdf__LinkAnnotation:hover {
  background-color: rgba(0, 123, 255, 0.1); /* subtle hover */
}

/* Optional: hide annotation icons/popups */
.react-pdf__PopupAnnotation {
  display: none;
}
